@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prueba Técnica</h1>
    <h2 class="display-5">Proyecto Maestro - Detalle</h2>
    <h4 class="display-5">Adrián Herra Vargas</h4>

</div>

